/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-feb-2018, 22:51:40
    Author     : Miguel
*/
body{
    background: #f2f2f2;
    padding-bottom: 100px;
}

.jumbotron{
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
    background: #6b7381;
    color: #bdc1c8;
}

.jumbotron h1 {
    background-color: #6c757d;
    color: #fff;
}

#conteLogin{
    text-align: center;
    width: 220px;
    margin: 0 auto;
    position: relative;
}

#botonGoogle{
    position: absolute;
    left: 23%;
}

#conteChat{
    display: none;
    text-align: center;
}

#textoChat{
    text-align: left;
    margin: 40px auto 10px auto;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow:gray 0px 0px 4px 1px;
    height: 500px;
    width: 100%;
    padding: 5px;
}

#output{
    border: 1px solid #ced4da;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    height: 445px;
    overflow-y: auto;
}

#misCanales{
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #ced4da;
}

#myField:focus{
    box-shadow: none;
}

#enviar{
    border-radius: 0px 5px 5px 0px;
}

.btn:focus{
    box-shadow: none;
}

#panel{
    margin-top: 40px;
}

#panel table{
    margin: auto;
}

#panel td{
    padding: 20px 0;
}

#panel th{
    padding: 10px 20px;
}

#cargarMensajes{
    margin-left: 20px;
}

#conteUsuarios{
    text-align: left;
    margin: 40px 25px 10px auto;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow:gray 0px 0px 4px 1px;
    height: 500px;
    width: 100%;
    padding: 5px;
    overflow: auto;
}

#conteUsuarios h3{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ced4da;
    margin: -5px -5px 20px -5px;
    color: white;
}

#listaUsuarios{
    min-height: 100%;
    padding: 5px;
    background-color: white;
    border: 1px solid #ced4da;
}

#listaUsuarios p{
    padding-left: 10px;
}

.privado{
    color: #5B83AD;
}

.general{
    color: olivedrab;
}

.info{
    color: lightsteelblue;
}

.textoCargado{
    color: gray;
}