/*GENERAL*/

#cuerpo{
    text-align: center;
    position: relative;
}

.nav-item{
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
}

.active{
    cursor: default;
}

#titulo{
    margin: 60px 0 40px 0;
}

.error{
    display: none;
}

.errorFormulario{
    display: none;
    color: indianred;
}

/*LISTADO DE MOVIMIENTOS*/

#formularioListado{
    margin: auto;
    max-width: 430px;
    text-align: left;
}

.fecha{
    width: 160px;
}

#contTabla{
    padding-top: 60px;
    margin: auto;
    font-size: 26px;
}

#contTabla table td{
    background-color: #eee;
}

#contTabla table th{
    border-top:none;
}

#numImporte{
    margin-left: 20px;
    width: 41px;
}

#rangoImporte{
    margin-left: 20px;
    width: 150px;
}

.saldo{
    color: cornflowerblue;
}

.positivo{
    color: olivedrab;
}

.negativo{
    color: indianred;
}

/*LOGIN*/

.cuerpologin{
    padding-top: 75px;
}

.cuerpologin table{
    text-align: left;
    margin: auto;
}

.cuerpologin table td{
    min-width: 100px;
    padding-bottom: 30px;
}

#divregistro{
    margin: auto;
    display: none;
}

#divlogin{
    margin: auto;
}

#errorLogin{
    color: indianred;
}

/*ABRIR CUENTAS*/

#paneles a{
    color: lightgray;
    cursor: default;
    pointer-events: none;
}

#paneles a:hover{
    border: none;
}

#paneles .active{
    color: black;
}

#ant {
    display:none;
    position: absolute;
    bottom: 0;
    left: 20%;
    margin-bottom: 25px;
}

#sig{
    display:none;
    position: absolute;
    bottom: 0;
    right: 20%;
    margin-bottom: 25px;
}

#tablaDatos{
    margin: auto;
    margin-top: -20px;
    text-align: left;
}

#tablaDatos span{
    margin-right: 10px;
}

.tab-pane{
    height: 350px;
}

.tab-pane h3{
    padding: 75px 0 40px 0; 
}

.tab-pane button{
    margin-top: 40px; 
}

#si{
    width: 80px;
    margin: 0 20px;
}

#no{
    width: 80px;
    margin: 0 20px;
}