/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-feb-2018, 9:44:06
    Author     : Miguel
*/

/***GENERAL***/

@negro: black;
@fondo: #5B83AD;

body{
    color: @negro;
}

.jumbotron{
    text-align: center;
    margin-bottom: 0px;
    padding: 30px;
    background-color: @fondo;
    color: white;
    border-radius: 0px;
}

.oculto{
    display: none;
}

#cuerpo{
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}

.nav-item{
    margin: 0 15px;
    font-weight: bold;
    font-size: 18px;
}

.active{
    cursor: default;
}

#titulo{
    margin: 60px 0 40px 0;
}

.errorFormulario{
    .oculto;
    color: indianred;
}

table{
    margin:auto;
}

.btn-secondary{
    background-color: @fondo;
    border-color: @fondo;
    &:hover{
        background-color: @fondo+20;
        border-color: @fondo+20;
    }
}


/*LOGIN*/

.cuerpologin{
    table{
        text-align: left;
        margin: auto;
        td{
            min-width: 100px;
            padding-bottom: 30px;
        }
    }
}


/*ABRIR*/

#paneles {
    a{
        color: lightgray;
        cursor: default;
        pointer-events: none;
        &:hover{
            border: none;
        }
    }
    .active{
        color: black;
    }
}

#tablaDatos{
    margin: auto;
    margin-top: -20px;
    text-align: left;
    span{
        margin-right: 10px;
    }
}

.tab-pane{
    height: 350px;
    h3{
        padding: 75px 0 40px 0; 
    }
    button{
        margin-top: 40px; 
    }
}

#sig{
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    right: 20%;
    .oculto;
}

.boton{
    width: 80px;
    margin: 0 20px;
}

/*CERRAR*/

.tablas{
    .oculto;
    margin-top: 40px;
    .titular table{
        text-align: left;
        margin-top: 25px;
    }
}

#datosCuenta th{
    border-top: none;
}

#mensaje{
    .oculto;
}

#cerrar{
    .oculto;
}

/*LISTADO*/

#formularioListado{
    margin: auto;
    max-width: 430px;
    text-align: left;
}

.fecha{
    width: 160px;
}

#contTabla{
    padding-top: 60px;
    margin: auto;
    font-size: 26px;
    table {
        td{
            background-color: #eee;
        }
        th{
            border-top:none;
        }
    }
}

.saldo{
    color: cornflowerblue;
}

.positivo{
    color: olivedrab;
}

.negativo{
    color: indianred;
}


/*OPERACIONES*/

.cuerpologin{
    table{
        text-align: left;
        margin: auto;
        td{
            min-width: 100px;
            padding-bottom: 30px;
        }
    }
}

#divregistro{
    margin: auto;
    .oculto;
}

#divlogin{
    margin: auto;
}

#errorLogin{
    color: indianred;
}

.enviar{
    .oculto;
    width: 100px;
}

#numImporte{
    margin-left: 20px;
    width: 70px;
}

#rangoImporte{
    margin-left: 20px;
    width: 150px;
}