/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-mar-2018, 10:05:42
    Author     : Miguel
*/
*{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background: url(../images/fondo.jpg) no-repeat center top fixed;
    background-size: cover;
    color: white;
}

#cabecera{
    
    #titulo{
        font-size: 350%;
        padding-top: 40px;
    }

    #subtitulo{
        font-size: 175%;
    }
}

#form-cont{
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    position: relative;
    width: 90%;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 1280px) {
        width: 35%;
    }
    background-color:rgba(0, 0, 0, 0.4);
}

.form-top-left{
    margin-top: 5px;
    margin-left: 10px;
    text-align: left;
    float: left;
    font-size: 125%;
}

.form-top-right{
    text-align: right;
    margin-right: 10px;
    float: right;
    font-size: 200%;
}

.form-bot{
    position: relative;
    clear: both;
    
    input{
        padding: 10px 15px;
        margin-bottom: 15px;
        font-size: 20px;
        width: 90%;
        border: solid 1px gray;
        &:focus{
            border: solid 1px forestgreen;
            box-shadow: 0 0 4px 1px #ccffcc;
        }
    }
    
    button{
        width: 40%;
        margin: 30px 0;
        height: 45px;
        font-size: 20px;
        color: white;
        border: none;
        &:hover{
            cursor: pointer;
        }
    }
    
    hr{
        margin-bottom: 10px;
        border: 1px solid white;
    }
}
        
#devolver{
    background-color: transparent;
    margin-right: 2px;
    border: solid 2px cornflowerblue;
}

#cobrar{
    background-color: cornflowerblue;
    margin-left: 2px;
}

.error{
    display: none;
    color: indianred;
    font-size: 20px;
}

.bordeError{
    border: solid 1px #cc0000 !important;
    box-shadow: 0 0 4px 1px indianred !important;
}

br{
    line-height: 30px;
}

